* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
}

/* ------------------------- Login/Registration ------------------------- */
.loginContainer {
  margin: 50px auto;
  width: 400px;
  border: 1px solid black;
  padding: 4rem;
  border-radius: 10px;
}

.loginContainer h2 {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginContainer label {
  text-align: left;
  padding: 0.25rem 0;
  font-weight: 600;
}

.loginContainer input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.loginContainer button {
  border: none;
  background-color: rgb(226, 226, 226);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #2e5de9;
}

.loginContainer .linkBtn {
  background: none;
  text-decoration: underline;
  color: black;
}

.errorMessage {
  color: #dc3b6c;
  background-color: #f8d7da;
  padding: 1rem;
  border-radius: 10px;
  margin: 8px 0px;
}

/* ------------------------- Nav ------------------------- */
.nav {
  width: 100%;
  display: flex;
  border-bottom: solid rgb(181, 181, 181) 2px;
}

.link {
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
}

/* ------------------------- Expenses ------------------------- */

.tableContainer {
  margin: 50px 100px;
  width: calc(50vw - 100px);
}

.tableContainer h2 {
  color: #5a5a5a;
  margin-bottom: 20px;
}

.notion-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 16px;
}

.notion-table .selected {
  background-color: #f6f6f6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.nameInput {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #5a5a5a;
}

.amountInput {
  text-align: right;
}

.notion-table thead,
.notion-table tfoot {
  color: rgb(167, 167, 167);
}

.notion-table td,
.notion-table th {
  border: 1px solid rgb(204, 204, 204);
  text-align: left;
  padding: 4px 8px;
  height: 40px;
  width: 200px;
  font-weight: 400;
  position: relative;
}

.notion-table td {
  color: #5a5a5a;
}

.notion-table .leftBorder {
  border-left: None;
}

.notion-table .rightBorder {
  border-right: none;
}

.notion-table .noBorder {
  border: none;
  width: 50px;
}

tfoot th {
  cursor: pointer;
}

.deleteBtn {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background: none;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(167, 167, 167);
  cursor: pointer;
}

/* ------------------------- up/down arrows in amount input box ------------------------- */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* ------------------------- drop down box ------------------------- */

.dropDownListItem {
  display: flex;
  list-style-type: none;
  border: 1px solid rgb(204, 204, 204);
}

.dropDownItem {
  width: 100%;
  padding: 5px;
  color: #5a5a5a;
  padding: 8px;
}

.dropDownCategory {
  width: 100%;
  padding: 5px;
  border: #5a5a5a 1px solid;
}

.dropDownDeleteBtn {
  background: none;
  margin-left: 10px;
  width: 30px;
  height: 30;
  /* border: 1px solid rgb(204, 204, 204); */
  border: none;
  color: rgb(167, 167, 167);
  cursor: pointer;
  padding: 5px;
}

.dropDownContainer {
  width: 200px;
  position: absolute;
  top: 40px;
  background-color: #f6f6f6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.addCategory {
  display: flex;
}

.categoryInput {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 16px;
  padding: 8px;
  border: 1px solid rgb(204, 204, 204);
  color: rgb(167, 167, 167);
}
/* background color:  #f2f2f2; */
/* floating cells background color:  #f6f6f6; */
/* border color: rgb(204, 204, 204) */
/* color of header and new font: color: rgb(167, 167, 167); */
/* color for middle cells: #5a5a5a; */
