* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
}

/* ------------------------- Login/Registration ------------------------- */
.loginContainer {
  margin: 50px auto;
  width: 400px;
  border: 1px solid black;
  padding: 4rem;
  border-radius: 10px;
}

.loginContainer h2 {
  text-align: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginContainer label {
  text-align: left;
  padding: 0.25rem 0;
  font-weight: 600;
}

.loginContainer input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
}

.loginContainer button {
  border: none;
  background-color: rgb(226, 226, 226);
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: #2e5de9;
}

.loginContainer .linkBtn {
  background: none;
  text-decoration: underline;
  color: black;
}

.errorMessage {
  color: #dc3b6c;
  background-color: #f8d7da;
  padding: 1rem;
  border-radius: 10px;
  margin: 8px 0px;
}

/* ------------------------- Nav ------------------------- */
.nav {
  width: 100%;
  display: flex;
  background-color: #f2f2f2;
  border-bottom: solid rgb(181, 181, 181) 2px;
}

.link {
  margin-right: 20px;
  padding: 10px;
  text-decoration: none;
}

/* ------------------------- Expenses ------------------------- */

.tableContainer {
  margin: 50px auto;
  width: 800px;
}

.notion-table {
  background-color: #f2f2f2;
  width: 100%;
  border-collapse: collapse;
}

.notion-table .selected {
  background-color: #f6f6f6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

.nameInput {
  background: none;
  border: none;
  height: 100%;
  width: 100%;
  outline: none;
}

.notion-table thead,
.notion-table tfoot {
  color: #8e8e8e;
}

.notion-table td,
.notion-table th {
  border: 1px solid rgb(204, 204, 204);
  text-align: left;
  padding: 8px;
  height: 40px;
  width: 200px;
}

.notion-table .leftBorder {
  border-left: None;
}

.notion-table .rightBorder {
  border-right: none;
}

.deleteBtn {
  height: 40px;
  width: 40px;
  margin-left: 20px;
  background: none;
  border: 1px solid rgb(204, 204, 204);
  color: #8e8e8e;
}
